@import url("//hello.myfonts.net/count/2a767f");

@font-face {font-family: 'NoaLTStd-Regular';src: url('webfonts/2A767F_0_0.eot');src: url('webfonts/2A767F_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2A767F_0_0.woff') format('woff'),url('webfonts/2A767F_0_0.ttf') format('truetype');}
   
@font-face {font-family: 'NoaLTStd-Bold';src: url('webfonts/2A767F_1_0.eot');src: url('webfonts/2A767F_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2A767F_1_0.woff') format('woff'),url('webfonts/2A767F_1_0.ttf') format('truetype');}


body {
  background-color: white;
  margin: 0 0 0 0;
}

/* reset */
h1,h2,h3,h4,h5,h6,p {margin:0;padding:0}

#background {
  background-image: url(../images/virkisteri_background.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: left;
}

#shadow {
  margin: auto;
  top: 0px;
  left: 160px;
  width: 890px;
  box-shadow: 0px 0px 25px #fffff0;
  -moz-box-shadow: 0px 0px 25px #fffff0;
  -webkit-box-shadow: 0px 0px 25px #fffff0;
}

#main-relative {
  position: relative;
}

#logo {
  background-image: url(../images/virkisteri_www@2x.jpg);  
  background-size: 343px 160px;
  width: 348px;
  height: 160px;
  float: left;
  border: 0;
}

#heading {
  float: right;
  width: 542px;
  height: 160px;
  background-color: #c3dc77;
}

#heading-text {
  margin-top: 20px;
  margin-left: 40px;
  font-size: 22pt;
  font-family: "NoaLTStd-Regular";
  color: white; 
  text-align: left; 
}

.clear {
  clear: both;
}

#reservation-pointer {
  color: white;
  position: absolute;
  top: 445px;
  left: -28px;
  font-family: "NoaLTStd-Bold";
  font-size: 34px;
}

#reservation-text {
  color: white;
  position: absolute;
  top: 458px;
  left: 6px;
  font-family: "NoaLTStd-Bold";
  font-size: 13px;
}

#reservation-text a {
  text-decoration: none;
  color: white;
}
#reservation-text a:hover {
  color: #bca04d;
}

#images-box {
  background-color: #80133a;
  width: 890px;
  height: 349px;
}

#pic1 {
  float: right;
  width: 240px;
  height: 335px;
  background-image: url(../images/virkisteri_1@2x.jpg);
  background-size: 240px 335px;
  margin-right: 7px;
  margin-top: 7px;
}

#pic1-2 {
  float: right;
  width: 240px;
  height: 335px;
  background-image: url(../images/virk_landing_ryhma_1@2x.jpg);
  background-size: 240px 335px;
  margin-right: 7px;
  margin-top: 7px;
}

#pic2-container {
  float: right;
  width: 240px;
  height: 335px;
  position: relative;
  margin-right: 7px;
  margin-top: 7px;
}

#pic2-0 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 240px;
  height: 335px;
  background-image: url(../images/virkisteri_2@2x.jpg);
  background-size: 240px 335px;
}
#pic2-1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 240px;
  height: 335px;
  background-image: url(../images/virk_henkilosto_2@2x.jpg);
  background-size: 240px 335px;
}
#pic2-2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 240px;
  height: 335px;
  background-image: url(../images/virk_fysio_2@2x.jpg);
  background-size: 240px 335px;
}
#pic2-3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 240px;
  height: 335px;
  background-image: url(../images/virk_tunnit_2@2x.jpg);
  background-size: 240px 335px;
}
#pic2-4 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 240px;
  height: 335px;
  background-image: url(../images/virk_ryhma_2@2x.jpg);
  background-size: 240px 335px;
}

#pic3 {
  float: right;
  width: 240px;
  height: 335px;
  background-image: url(../images/virkisteri_3@2x.jpg);
  background-size: 240px 335px;
  margin-right: 7px;
  margin-top: 7px;
}

#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu li {
  width: 180px;
  border: solid thin #b18b1e;
  background-color: #ffffff;
  font-family: "NoaLTStd-Regular";
  text-align: center;
  font-size: 11pt;
}

#menu .bottom-menu-box:hover {
  background-color: #a40054;
  color: #fffff0;
}

#menu .bottom-menu-box.lit {
  background-color: #a40054;
  color: #fffff0;  
}

#menu a {
  text-decoration: none;
  color: #6f6f6f;
}

#menu .top-menu-box {
  padding-top: 3px;
  background-color: #a40054;
  color: #ffffff;
}

#menu .bottom-menu-box {
  background-color: #fffff0;
  color: black;
  border-top: solid thin #b18b1e;
}

#menu1 {
  position: absolute;
  top: 200px;
  left: -60px;
}

#menu2 {
  position: absolute;
  top: 280px;
  left: -60px;  
}

#menu3 {
  position: absolute;
  top: 360px;
  left: -60px;    
}

#menu4 {
  position: absolute;
  top: 340px;
  left: -60px;
}

#contact {
  width: 156px;
  height: 67px;
  background-color: #a40054;
  position: absolute;
  top: 457px;
  left: 550px;
  box-shadow: 0px 0px 5px #adadad;
  -moz-box-shadow: 0px 0px 5px #adadad;
  -webkit-box-shadow: 0px 0px 5px #adadad;
  border-radius: 4px;
  color: white;
  font-family: "NoaLTStd-Bold";
  font-size: 11pt;
}

#contact-text {
  padding-top: 5px;
  padding-left: 4px;
}
#contact-take {
  letter-spacing: 2px;
}
#contact-email {
  letter-spacing: 0.5px;
}
#contact-phone {
}

#contact a {
  text-decoration: none;
  color: white;
}

#content {
  width: 890px;
  background-color: #fffff0;
  padding-bottom: 30px;
  padding-top: 10px;
}

#content p {
  font-family: "NoaLTStd-Regular";
  font-size: 11pt;
  color: #707070;
  margin-left: 139px;
  margin-right: 139px;
  margin-top: 10px;
}

#content p strong {
  color: #80133a;
}

#content h1 {
  font-family: "NoaLTStd-Bold";
  font-size: 17pt;
  color: #80133a;
  margin-left: 40px;
  margin-top:17px;
}

#content h2 {
  font-family: "NoaLTStd-Bold";
  font-size: 17pt;
  color: #c8c8c8;
  margin-left: 40px;
  margin-top:17px;
}

#content h3 {
  font-family: "NoaLTStd-Bold";
  font-size: 20pt;
  color: #80133a;
  margin-left: 139px;
  margin-right: 139px;
  margin-top: 15px; 
  line-height: 29px;
}

#content h4 {
  font-family: "NoaLTStd-Bold";
  font-size: 12pt;
  color: #80133a;
  margin-left: 139px;
  margin-right: 139px;
}

#content h5 {
  font-family: "NoaLTStd-Bold";
  font-size: 12pt;
  color: #c8c8c8;
  margin-left: 139px;
  margin-right: 139px;
}

#content h6 {
  font-family: "NoaLTStd-Regular";
  font-size: 13pt;
  color: #707070;
  margin-left: 139px;
  margin-right: 139px;
  margin-top: 10px;
}

#content .grey {
  color: #707070;
}

.margin-indicator-container {
  position: relative;
  top: 4px;
}

.margin-indicator {
  font-family: "NoaLTStd-Bold";
  margin-left: 100px;
  font-size: 34px;
  display:inline-block;
  width: 39px;
  color: #a75d77;
}

.calendar-links {
  font-family: "NoaLTStd-Regular";
  color: #80133a;
  font-size: 20px;
  position: relative;
  top: -4px;
}

.move-higher {
  position: relative;
  top: -13px;
}

#bottom-space {
  height: 50px;
}

table {
  margin-top: 17px;
  margin-left: 139px;
}

table th {
  font-family: "NoaLTStd-Regular";
  color: #707070;
}

table td {
  padding-left: 20px;
  font-family: "NoaLTStd-Regular";
  color: #6f6f6f;  
}

a {
  color: #6f6f6f;  
}

#fade-box {
  visibility: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 240px;
  height: 335px;
}

#fadein-top {
  background-image: url(../images/virkisteri_asiakaslogot_animationtop.png);
  background-size: 240px 90px;
  width: 240px;
  height: 90px;
}

.fadein {
  position: relative;
  width: 240px;
  height: 245px;
}

.fadein img {
  position: absolute;
  top: 0px;
  width: 240px;
  height: 245px;  
}

.hidden {
  display: none;
}

#yoga-images {
  margin-left: 40px;
}