<!DOCTYPE html>
<html>
<head>
  <title>
    Virkisteri
  </title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="css/master.css" type="text/css" media="screen" title="no title" charset="utf-8">
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  {% if page.pageNumber != 3 %}
  <script>
  setTimeout(function() {
    $('#fade-box').css("visibility", "visible");
    $('#pic2-{{ page.pageNumber }}').fadeOut(500,
      function () {
        setInterval(function () {
            $('.fadein :first-child').fadeOut(1000)
                                     .next('img')
                                     .fadeIn(10)
                                     .end()
                                     .appendTo('.fadein');
        }, 2000);        
      }
    );
  }, 5000);
  </script>
  {% endif %}
</head>
<body>
  <center>
    <div id="background">
      <div id="shadow">
        <div id="main-relative">
          <a href="index.html">
            <div id="logo"></div>
          </a>
          <div id="heading">
            <div id="heading-text">
              Hyvinvoiva mieli
              <br>
              asuu hyvinvoivassa
              <br>
              kehossa
            </div>
          </div>
          <div class="clear"></div>
          <div id="images-box">
            <div id="pic3"></div>
            <div id="pic2-container">
              <div id="fade-box">
                <div id="fadein-top"></div>
                <div class="fadein">
                  <img src="/images/logos/opPohjola.png">
                  <img class="hidden" src="/images/logos/sanoma.png">
                  <img class="hidden" src="/images/logos/skanska.png">
                  <img class="hidden" src="/images/logos/hginEnergia.png">
                  <img class="hidden" src="/images/logos/hginKpki.png">
                  <img class="hidden" src="/images/logos/kesko.png">
                  <img class="hidden" src="/images/logos/stara.png">
                  <img class="hidden" src="/images/logos/tyotervLaitos.png">
                </div>
              </div>
              <div id="pic2-{{ page.pageNumber }}"></div>
            </div>
            {% if page.pageNumber == 0 or page.pageNumber == 2 %}
              <div id="pic1-2"></div>
            {% else %}
              <div id="pic1"></div>
            {% endif %}            
          </div>
          <ul id="menu">
            <a href="henkilostoliikunta.html"><li id="menu1" class="{{ page.menu1 }}">henkilöstöliikunta</li></a>
            <a href="liikunta.html"><li id="menu2" class="{{ page.menu2 }}">ryhmäliikunta</li></a>
            <a href="tunnit.html"><li id="menu3" class="{{ page.menu3 }}">tunnit &amp; kurssit</li></a>
            <a href="fysioterapia.html"><li id="menu4" class="{{ page.menu4 }}">fysioterapia &amp; hieronta</li></a>
          </ul>
          <!-- div id="reservation-pointer">»</div>
          <div id="reservation-text">
            <a href="ajanvaraus.html">
            ajanvaraus
            <br>
            työpaikkahieronta
            <br>
            ja -fysioterapia
            </a>
          </div -->
          <div id="contact">
            <div id="contact-text">
              <div id="contact-take">
                OTA YHTEYTTÄ!
              </div>
              <div id="contact-email">
                <a href="mailto:riikka@virkisteri.fi">riikka@virkisteri.fi</a>
              </div>
              <div id="contact-phone">
                puh. 040 5303 945
              </div>
            </div>
          </div>
          <div id="content">
            {{ content }}
          </div>
        </div>
      </div>
      <div id="bottom-space"></div>
    </div>
  </center>
</body>
</html>
